@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900&display=swap);
@import "_fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "_icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Druk-Text-Wide-Cyr";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 12;
$md2: 61.99875; //991.98px
$md3: 47.99875; //767.98px
$md4: 29.99875; //479.98px

$black: #000;
$white: #fff;
$yellow: #dabb90;
$whiteDark: #ededed;
$blackLight: #1a1f24;
$gray: #9c9c9c;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ШАБЛОНЫ>===========================================================================================================
@keyframes animPlay {
	0% {
		width: 35px;
		height: 35px;
		opacity: 1;
	}
	67% {
		width: 100px;
		height: 100px;
		opacity: 0.6;
	}
	93% {
		width: 140px;
		height: 140px;
		opacity: 0.3;
	}
	100% {
		width: 150px;
		height: 150px;
		opacity: 0;
	}
}
@keyframes animPlayMd3 {
	0% {
		width: 35px;
		height: 35px;
		opacity: 1;
	}
	67% {
		width: 75px;
		height: 75px;
		opacity: 0.6;
	}
	93% {
		width: 105px;
		height: 105px;
		opacity: 0.3;
	}
	100% {
		width: 110px;
		height: 110px;
		opacity: 0;
	}
}
@keyframes animPlayMd4 {
	0% {
		width: 20px;
		height: 20px;
		opacity: 1;
	}
	67% {
		width: 44px;
		height: 44px;
		opacity: 0.6;
	}
	93% {
		width: 62px;
		height: 62px;
		opacity: 0.3;
	}
	100% {
		width: 68px;
		height: 68px;
		opacity: 0;
	}
}
@keyframes animArrow {
	0% {
		bottom: 0;
	}
	100% {
		bottom: calc(100% - 18px);
	}
}
//</ШАБЛОНЫ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";
body {
	font-size: 16/16 * 1rem;
	background-color: $blackLight;
	color: $blackLight;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 20px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "_ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "_header";
@import "_footer";
@import "_home";
@import "_speakers";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
